/* Navigation */
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

#main-nav ul {
  justify-self: center;
}

#main-nav .logo {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media(max-width: 500px) {
  /* Stack Grid Items */
  #home-articles .articles-container,
  #showcase .showcase-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container > *:last-child {
    /* If you have sth spanning, you can't have one fr
       it's going to adapt to the amount of columns that you spanning */
       grid-column: 1;

  }

  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2)
   {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  .page-container {
    grid-template-columns: 1fr;
  }

  

}
